<header>
    <link rel="stylesheet" href="/components/header/header.css">
    <div class="logo">
        <img 
        src="/assets/images/slogan.png" 
        alt="Logo marmitas saudáveis"
        loading="eager"
        >
        
    </div>

   <div class="button">
    <a href="#about" class="btn">Sobre</a>
    <a href="#benefits" class="btn">Benefícios</a>
    <a href="#options" class="btn">Opções</a>
    <a href="#products" class="btn">Cardápio</a>
    <a href="#contact" class="btn">Fale conosco</a>
   </div>
</header>