<link rel="stylesheet" href="/components/products/products.css">

<section class="products">
    <h2>Nosso cardápio</h2>

    <div class="product-item">
        <img src="./assets/images/image1.png" alt="Marmita lowcarb">

        <div class="product-info">
            <h3>Marmita LowCarb</h3>
            <p>Menos carboidratos, mais proteínas e gorduras saudáveis. Para quem está na dieta low carb.</p>
            <button class="order-btn">Peça já</button>
        </div>
    </div>

    <div class="product-item">
        <img src = "/assets/images/image2.png" alt="Marmita vegana">
        <div class="product-info">
            <h3>Marmita vegana</h3>
            <p>Para quem opta por uma alimentação 100% vegetal, com pratos saborosos e nutritivos.</p>
            <button class="order-btn">Peça já</button>
        </div>
    </div>

    <div class="product-item">
        <img src = "/assets/images/image3.png" alt="Marmita vegetariana">
        <div class="product-info">
            <h3>Marmita vegetariana</h3>
            <p>Uma opção deliciosa e saudável, com ingredientes frescos e totalmente vegetais.</p>
            <button class="order-btn">Peça já</button>
        </div>
    </div>

    <div class="product-item">
        <img src = "/assets/images/image4.png" alt="Marmita fit">
        <div class="product-info">
            <h3>Marmita fit</h3>
            <p>Ideal para quem busca manter a forma com uma alimentação balanceada e leve.</p>
            <button class="order-btn">Peça já</button>
        </div>
    </div>


</section>