<link rel="stylesheet" href="/components/about/about.css">
  
    <section class="about">
        <div class="container">
            <h2>Benefícios</h2>
            <p>Uma alimentação saudável proporciona vários benefícios, como a prevenção de doenças, o fortalecimento do sistema imunológico e a melhoria da qualidade de vida</p>
            <p>As marmitas saudáveis podem ajudar a manter uma alimentação equilibrada e consciente, além de economizar tempo e dinheiro. </p>
        </div>
    </section>
