<link rel="stylesheet" href="/components/contact/contact.css">
<section class="contact" id="contact">

    <h2>Entre em contato conosco</h2>
    
    <form class="contact-form">
        <label for="nome">Nome</label>
        <input type="text" id="name" name="name" placeholder="Seu nome" required>
        
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Seu email" required>

        <label for="massage">Sua mensagem</label>
        <textarea id="massage" name="massage" rows="4" placeholder="Escreva aqui" required></textarea>

        <button type="submit" class="submit-btn">Enviar</button>

    </form>

<div class="contact-buttons">

    <a href="https://wa.me/1234567890" target="_blank" class="social-btn whatsapp-btn">
        <img src="./assets/icons/whatsapp.png" alt="whatsapp" width="40" height="40">
        Whatsapp
    </a>

    <a href="https://www.instagram.com/" target="_blank" class="social-btn instagram-btn">
        <img src="./assets/icons/instagram.png" alt="instagram" width="40" height="40">
        Instagram
    </a>

</div>

</section>